/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/webfontkit-20240915-162918/roboto-black-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack_italic';
    src: url('fonts/webfontkit-20240915-162918/roboto-blackitalic-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('fonts/webfontkit-20240915-162918/roboto-bold-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('fonts/webfontkit-20240915-162918/roboto-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/webfontkit-20240915-162918/roboto-italic-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('fonts/webfontkit-20240915-162918/roboto-light-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight_italic';
    src: url('fonts/webfontkit-20240915-162918/roboto-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('fonts/webfontkit-20240915-162918/roboto-medium-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium_italic';
    src: url('fonts/webfontkit-20240915-162918/roboto-mediumitalic-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('fonts/webfontkit-20240915-162918/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('fonts/webfontkit-20240915-162918/roboto-thin-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240915-162918/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin_italic';
    src: url('fonts/webfontkit-20240915-162918/roboto-thinitalic-webfont.woff2') format('woff2'),
        url('roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: inherit;
    font-family: "robotoregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --dark-blue: #498fd0;
    --white: #ffffff;
    --grey-background: #e2e7ef;
    --orange-accent: #e6b53e;
    --grey-text: #636363;
    --black-icons: #363636;
    --black-text: #000000;
}

.nav * {
    list-style-type: none;
    text-decoration: none;
}

.dashboard-wrapper {
    display: grid;
    grid-template-columns: minmax(max-content, 275px) minmax(max-content, 1fr);
    min-height: 100%;
}

.sidebar {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    gap: 3rem;

    padding: 1em;
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: 'robotobold';
}

.sidebar a {
    color: var(--white);
}

.logo {
    font-size: calc(1.5rem + 4px);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}


.nav {
    font-size: calc(1rem + 4px);
    display: grid;
    grid-auto-rows: min-content;
    gap: 4rem;
}

.nav ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;

}

.nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    min-width: 100%;
}

.nav .nav-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.content {
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 2 / 3;
    background-color: var(--grey-background);
}

.header {
    font-size: calc(1rem + 4px);
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 1rem 4rem;
    gap: 1em;
    background-color: var(--white);
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-top {
    gap: 1em;
}


.searchbar-form-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 3;
    min-width: fit-content
}

.notification-user-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1em;
    flex-grow: 1;
}

.searchbar-form {
    height: fit-content;
    min-width: max(300px, 100%);
}

.searchbar-wrapper {
    display: flex;
    gap: 1em;
    align-items: center;

}

.search-icon, .notification-toggle {
    min-width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-icon {
    display: inline-block;
    background-size: cover;
}

.searchbar-input {
    border-radius: 16px;
    width: 100%;
    border: 0;
    background-color: var(--grey-background);
    padding: 0px 16px;
}

.searchbar-input:focus {
    outline: solid 2px var(--orange-accent);
}

.notification-user-profile-wrapper, .user-profile {
    gap: 1.5em;
}

.user-profile {
    font-family: "robotobold";
    display: flex;
}

.username {
    align-content: center;
}

.profile-image-container.small {}

.profile-image {
    min-width: 2.5em;
}

.profile-image.large {
    min-width: 3.5em;
}

.user-greeting {
    font-size: calc(1em + 4px);
    display: flex;
    gap: 1em;
    font-family: "robotobold";
}

.user-greeting span {
    font-size: 0.7em;
}

.header-bottom {
    gap: 1em;
}

.control-panel {
    font-size: calc(1rem);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    /* padding-bottom: 1em; */
}

.control-panel button {
    height: min-content;
    padding: 0.65em 1.75em;
    font-family: "robotobold";
    background-color: var(--dark-blue);
    border-radius: 25px;
    color: var(--white);
    border: 0;
    cursor: pointer;
}


.main-content {
    grid-column: ;
    height: 100%;
    width: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15)inset;
}

.notification-toggle {
    background-image: url("images/icons/bell-ring-outline.svg");
}

.logo-icon {
    background-image: url("images/icons/logo-icon.svg");
}

.home-icon {
    background-image: url("images/icons/home.svg");
}

.profile-icon {
    background-image: url("images/icons/card-account-details-outline.svg");
}

.messages-icon {
    background-image: url("images/icons/message-reply.svg");
}

.history-icon {
    background-image: url("images/icons/clock-time-three.svg");
}

.tasks-icon {
    background-image: url("images/icons/file-multiple.svg");
}

.communities-icon {
    background-image: url("images/icons/account-group.svg");
}

.settings-icon {
    background-image: url("images/icons/cog.svg");
}

.support-icon {
    background-image: url("images/icons/help-box.svg");
}

.privacy-icon {
    background-image: url("images/icons/shield-check.svg");
}

.search-icon {
    background-image: url("images/icons/magnify.svg");
}